html,
body,
main,
#reader {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: "OpenSans", sans-serif;
}

.color1 {
    color: rgb(255, 89, 12);
}

.color2 {
    color: rgb(255, 138, 13);
}

.overlay {
    z-index: 1;
    color: white;
    text-shadow: 1px 1px 2px black;
    font-weight: bold;
    font-size: xx-large;
    position: fixed;
    transform: translate(-50%, -50%);
}

#info {
    left: 50%;
    bottom: 50px;
}

#cam {
    z-index: 10;
    left: 50px;
    top: 50px;
    padding: 25px;
    cursor: pointer;
}

#title {
    left: 50%;
    top: 50px;
    font-size: 3em;
}

#result {
    font-size: 4em;
    left: 50%;
    top: 50%;
    width: 410px;
    height: 311px;

    display: grid;
    grid-auto-rows: minmax(auto, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    text-align: center;
    transition: 0.5s;
}

#result div {
    border: 5px solid white;
    padding: 33px;
}

.transparent {
    opacity: 0.0;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}